*{
    color: #fff;
}
body{
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../Image/bg\ \(3\).jpg") no-repeat center top / cover;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 57px;

}
.menu-item{
    margin-right: 25px;
}
.menu-link{
    color: white;
    text-decoration: none;
}
.user{
    margin-left: auto;
    color:white;
    display: flex;
    align-items: center;
}
.avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}
.film{
    margin-top: 60px;
}
.film-titl-small{
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}
.film-titel{
    margin-top: 11px;
    margin-bottom: 23px;
    font-size: 36px;
    line-height: 42px;
}
.film-description{
    max-width: 560px;
    font-size: 16px;
    line-height: 150%;
}
.film{
    display: flex;
    align-items: center;
}
.film-ditails{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.film-trailer{
    margin: auto;
}
.time{
    display: flex;
    align-items: center;
}
.time-icon{
   margin-right: 14px;
}
.rating{
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating-icon{
    margin-right: 14px;
}
.rating-current{
    font-size: 24px;
    line-height: 150%;
}
.session{
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}